<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>LoopyHomeProject2</display-name>
  <filter>
    <filter-name>CharacterEncodingFilter</filter-name>
    <filter-class>filter.CharacterEncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CharacterEncodingFilter</filter-name>
    <url-pattern>*.do</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>sitemesh</filter-name>
    <filter-class>
	       com.opensymphony.sitemesh.webapp.SiteMeshFilter
	    </filter-class>
  </filter>
  <filter-mapping>
    <filter-name>sitemesh</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>free</servlet-name>
    <jsp-file>/WEB-INF/board/free.jsp</jsp-file>
    <init-param>
      <param-name>free</param-name>
      <param-value>Free Page</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>free</servlet-name>
    <url-pattern>/free</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>freeDetail</servlet-name>
    <jsp-file>/WEB-INF/board/freeDetail.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>freeDetail</servlet-name>
    <url-pattern>/freeDetail</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>inquery</servlet-name>
    <jsp-file>/WEB-INF/board/InqBoard.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>inquery</servlet-name>
    <url-pattern>/inquery</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>inqDetail</servlet-name>
    <jsp-file>/WEB-INF/board/inqDetail.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>inqDetail</servlet-name>
    <url-pattern>/inqDetail</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>notice</servlet-name>
    <jsp-file>/WEB-INF/board/NoticeBoard.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>notice</servlet-name>
    <url-pattern>/notice</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>notDetail</servlet-name>
    <jsp-file>/WEB-INF/board/noticeDetail.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>notDetail</servlet-name>
    <url-pattern>/notDetail</url-pattern>
  </servlet-mapping>
</web-app>